Source: libmtp
Section: libs
Priority: optional
Maintainer: Alessio Treglia <alessio@debian.org>
Build-Depends: libusb-dev,
 doxygen,
 debhelper (>= 5),
 cdbs (>= 0.4.37),
 dpkg-dev (>= 1.13.19),
 xsltproc,
 docbook-xsl,
 lsb-release,
 chrpath
Standards-Version: 3.9.2
Homepage: http://libmtp.sourceforge.net/
Vcs-Git: git://git.debian.org/git/collab-maint/libmtp.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/libmtp.git

Package: libmtp9
Architecture: any
Depends: ${shlibs:Depends},
 libmtp-common,
 ${misc:Depends}
Recommends: ${udev},
 libmtp-runtime [linux-any]
Pre-Depends: dpkg (>= 1.15.7.2)
Description: Media Transfer Protocol (MTP) library
 libmtp is a library for communicating with MTP aware devices in POSIX
 compliant operating systems.  It implements MTP Basic, the subset
 proposed for standardization.
 .
 The Media Transfer Protocol (commonly referred to as MTP) is a devised
 set of custom extensions to support the transfer of music files on
 USB digital audio players and movie files on USB portable media players.

Package: libmtp-common
Architecture: all
Depends: ${misc:Depends}
Breaks: libmtp8 (<= 1.0.6-6)
Description: Media Transfer Protocol (MTP) common files
 libmtp is a library for communicating with MTP aware devices in POSIX
 compliant operating systems.  It implements MTP Basic, the subset
 proposed for standardization.
 .
 The Media Transfer Protocol (commonly referred to as MTP) is a devised
 set of custom extensions to support the transfer of music files on
 USB digital audio players and movie files on USB portable media players.
 .
 This package provides the udev rules file and the FreeDesktop.org Device
 Information Files file (used by HAL).

Package: libmtp-runtime
Architecture: linux-any
Depends: ${shlibs:Depends},
 libmtp9 (= ${binary:Version}),
 libmtp-common,
 ${misc:Depends}
Replaces: libmtp8 (= 1.0.6-3)
Breaks: libmtp8 (= 1.0.6-3)
Enhances: libmtp9
Description: Media Transfer Protocol (MTP) runtime tools
 libmtp is a library for communicating with MTP aware devices in POSIX
 compliant operating systems.  It implements MTP Basic, the subset
 proposed for standardization.
 .
 The Media Transfer Protocol (commonly referred to as MTP) is a devised
 set of custom extensions to support the transfer of music files on
 USB digital audio players and movie files on USB portable media players.
 .
 This package provides mtp-probe, a program to probe newly connected
 device interfaces from userspace to determine if they are MTP devices,
 used for udev rules.

Package: libmtp-dev
Section: libdevel
Architecture: all
Depends: libmtp9 (>= ${source:Version}),
 libmtp9 (<< ${source:Upstream-Version}+1~),
 libusb-dev (>> 0.1.7),
 ${misc:Depends}
Description: Media Transfer Protocol (MTP) development files
 libmtp is a library for communicating with MTP aware devices in POSIX
 compliant operating systems.  It implements MTP Basic, the subset
 proposed for standardization.
 .
 The Media Transfer Protocol (commonly referred to as MTP) is a devised
 set of custom extensions to support the transfer of music files on
 USB digital audio players and movie files on USB portable media players.
 .
 This package contains the headers and development libraries.

Package: libmtp-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libmtp9 (= ${binary:Version}),
 mtp-tools (= ${binary:Version}),
 libmtp-runtime (= ${binary:Version}) [linux-any],
 ${misc:Depends}
Description: Media Transfer Protocol (MTP) debugging symbols
 libmtp is a library for communicating with MTP aware devices in POSIX
 compliant operating systems.  It implements MTP Basic, the subset
 proposed for standardization.
 .
 The Media Transfer Protocol (commonly referred to as MTP) is a devised
 set of custom extensions to support the transfer of music files on
 USB digital audio players and movie files on USB portable media players.
 .
 This package contains the debugging symbols.

Package: libmtp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Media Transfer Protocol (MTP) library documentation
 libmtp is a library for communicating with MTP aware devices in POSIX
 compliant operating systems.  It implements MTP Basic, the subset
 proposed for standardization.
 .
 The Media Transfer Protocol (commonly referred to as MTP) is a devised
 set of custom extensions to support the transfer of music files on
 USB digital audio players and movie files on USB portable media players.
 .
 This package contains the development documentation.

Package: mtp-tools
Section: utils
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Enhances: libmtp9
Description: Media Transfer Protocol (MTP) library tools
 libmtp is a library for communicating with MTP aware devices in POSIX
 compliant operating systems.  It implements MTP Basic, the subset
 proposed for standardization.
 .
 The Media Transfer Protocol (commonly referred to as MTP) is a devised
 set of custom extensions to support the transfer of music files on
 USB digital audio players and movie files on USB portable media players.
 .
 This package contains tools for communicating with MTP devices.
