Source: libmtp
Section: libs
Priority: optional
Maintainer: Rafael Laboissiere <rafael@debian.org>
Build-Depends: libusb-dev, doxygen, debhelper (>= 5), cdbs,
 dpkg-dev (>= 1.13.19), xsltproc, docbook-xsl, chrpath
Standards-Version: 3.7.3
Homepage: http://libmtp.sourceforge.net/
Vcs-Svn: svn://svn.debian.org/svn/private/rafael/deb-pkg/libmtp/
Vcs-Browser: http://svn.debian.org/wsvn/private/rafael/deb-pkg/libmtp/

Package: libmtp7
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${udev}
Description: Media Transfer Protocol (MTP) library
 A library for communicating with MTP aware devices.  MTP (Media
 Transfer Protocol) is necessary to communicate with some USB portable
 devices like mp3 players, video players or digital camera.
 .
 While some portable device will use USB mass storage protocol or PTP
 (picture transfer protocol), some device can only communicate through
 MTP [ see http://en.wikipedia.org/wiki/Media_Transfer_Protocol ]

Package: libmtp-dev
Section: libdevel
Architecture: any
Depends: libmtp7 (= ${binary:Version}), libusb-dev (>> 0.1.7)
Description: Media Transfer Protocol (MTP) development files
 A library for communicating with MTP aware devices.  MTP (Media
 Transfer Protocol) is necessary to communicate with some USB portable
 devices like mp3 players, video players or digital camera.
 .
 While some portable device will use USB mass storage protocol or PTP
 (picture transfer protocol), some device can only communicate through
 MTP [ see http://en.wikipedia.org/wiki/Media_Transfer_Protocol ]
 .
 This package contains the headers and development libraries.

Package: libmtp-doc
Section: doc
Architecture: all
Description: Media Transfer Protocol (MTP) library documentation
 A library for communicating with MTP aware devices.  MTP (Media
 Transfer Protocol) is necessary to communicate with some USB portable
 devices like mp3 players, video players or digital camera.
 .
 While some portable device will use USB mass storage protocol or PTP
 (picture transfer protocol), some device can only communicate through
 MTP [ see http://en.wikipedia.org/wiki/Media_Transfer_Protocol ]
 .
 This package contains the development documentation.

Package: mtp-tools
Section: utils
Architecture: any
Depends: libmtp7 (= ${binary:Version}), ${shlibs:Depends}
Description: Media Transfer Protocol (MTP) library tools
 A library for communicating with MTP aware devices.  MTP (Media
 Transfer Protocol) is necessary to communicate with some USB portable
 devices like mp3 players, video players or digital camera.
 .
 While some portable device will use USB mass storage protocol or PTP
 (picture transfer protocol), some device can only communicate through
 MTP [ see http://en.wikipedia.org/wiki/Media_Transfer_Protocol ]
 .
 This package contains tools for communicating with MTP devices.
