#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
DB2MAN = /usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl
XP = xsltproc -''-nonet
SOVERSION = 6
SUBSTFILES = debian/control debian/mtp-tools.lintian
UDEVFILES = libmtp$(SOVERSION).rules	\
	    libmtp$(SOVERSION).usermap	\
	    libmtp$(SOVERSION).sh

debdir = $(CURDIR)/debian
deblin = $(debdir)/mtp-tools/usr/share/lintian/overrides
debver = $(shell perl -ne '/([\d.-]+)/;print "$$1"; last' \
		debian/changelog)

%: %.in
	# Replace SOVERSION string in debian/ files
	sed "s/@SOVERSION@/$(SOVERSION)/g" < $< > $@

makebuilddir/libmtp$(SOVERSION):: $(SUBSTFILES)
	# Save file modified by configure
	test -e src/gphoto2-endian.h-orig \
		|| cp src/gphoto2-endian.h src/gphoto2-endian.h-orig

install/libmtp-doc::
	# Rename some man files and remove others
	cd doc/man/man3 &&	\
		rm -f _* *.[ch].3 &&			\
		for i in *.3 ; do mv $$i mtp_$$i; done

build/libmtp$(SOVERSION)::
	# Fix mode of udev lifting script
	chmod +x libmtp.sh
	# Adapt upstream udev rules file to Debian standards
	perl -pi -e 's/MODE.*/MODE="660", GROUP="audio"/ if /MODE/' \
		libmtp.rules
	# Rename udev and hotplug files
	for f in $(UDEVFILES) ; do				\
		cp $${f/libmtp$(SOVERSION)/libmtp} $$f ;	\
	done

mtp-tools.1: debian/mtp-tools.dbk
	# Build and install the man page for mtp-tools
	$(XP) $(DB2MAN) $<

build/mtp-tools:: mtp-tools.1

install/mtp-tools::
	mkdir -p $(deblin)
	sed "s/@DEBVERSION@/$(debver)/"		\
		< $(debdir)/mtp-tools.lintian	\
		> $(deblin)/mtp-tools

clean::
	rm -f mtp-tools.1 debian/mtp-tools.lintian $(UDEVFILES)
	# Restore original file
	test ! -e src/gphoto2-endian.h-orig \
		|| mv src/gphoto2-endian.h-orig src/gphoto2-endian.h
